.DS_Store
Backend/routers/__pycache__/app_data.cpython-312.pyc
Backend/routers/__pycache__/components.cpython-312.pyc
Backend/routers/__pycache__/predictions.cpython-312.pyc
/Backend/__pycache__
/Backend/uploads
