torch==2.6.0 --index-url https://download.pytorch.org/whl/cu126
fastapi[all]
uvicorn
pymongo
tabpfn==2.1.0
tabpfn-extensions[all] @ git+https://github.com/PriorLabs/tabpfn-extensions.git@e5946dd
optuna
numpy==1.26.4
scikit-learn==1.2.2
celery
redis

